# Ignore data files
*.csv
*.xlsx
*.xls

# R Session Files (Temporary Junk)
.Rproj.user
.Rhistory
.RData
.RDataTmp
.Ruserdata

# Ignore large model files
*.rds
*.rda
*.RData

# Operating System Junk
.DS_Store
Thumbs.db

# Other Configs
.httr-oauth
.quarto
